.timer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.field {
  text-align: center;
}
.value {
  font-size: 2rem;
  display: block;
}
.label {
  font-size: 1rem;
  color: gray;
}
